body {
    overflow-x: hidden;
}  

@-webkit-keyframes hvr-back-pulse {
50% {
    background-color: #90EE90;
}
}
@keyframes hvr-back-pulse {
50% {
    background-color: #90EE90;
}
}
.hvr-back-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #90EE90;
    background-color: #90EE90;
    color: white;
}

html, body {
    max-width: 100%;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.fade-in {
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: black;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: black;
}

.hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #198A00;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: black;
}

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    }
@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    }

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

hr {
    width: 300%;
    height: 8px;
}

.rtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    height: 55px;
    width: 100%;
    margin-bottom: 10%;
}

a:hover {
    color: gray;
}

a {
    color: inherit;
}

.email {
    padding-right: 53%;
    padding-left: 6%;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-bottom: 25%;
}

.email:hover {
    color: gray;
}

.skills {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin-top: 30%;
    text-align: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    height: 55px;
    width: 100%;
}

.col-4 {
    padding-bottom: 8%;
}

.ht {
    outline: 2px solid #198A00;
    outline-offset: 0px;
    text-align:center;
    line-height: 2.2em;
    display: block;
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif;
}

.row {
    text-align: center;

}

.contact {
    display: block;
    width: 115px;
    height: 40px;
}

#anc {
    color: white;
}

.button {
    outline: 2px solid white;
    outline-offset: 0px;
    text-align:center;
    line-height: 2.2em;
    box-shadow: 0 0 3pt 2pt #198A00;
}

.bio-body {
    padding-right: 40%;
    padding-left:8%;
    font-weight:430;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.bio-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    margin-right: 45%;
    margin-top: 15%;
    margin-left: 8%;
}

.bio {
    text-align: left;
}

.title-bar {
    border-bottom: 1px solid #000000;
    padding-top: .7%;
    position: fixed;
    top: 0;
    width: 100%;    
    letter-spacing: 0.8px;
    padding-bottom: .7%;
    opacity: 1.0;
    background-color: black;
    z-index: 99;
    color: white;
}

.title-bar-linkedin {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    padding-right: 8%;
    font-weight: 600;
    color: white;     
}

.title-bar-email {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-align:center;                
}

.title-bar-myles {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
    padding-right: 55%;
    padding-left: 8%;
    font-size: 20px;
    color: white;
    
}

body, html {
    height: 100%;
    letter-spacing: 0.8px;
}

a:link{
    text-decoration: none!important;
}

.title-bar-email:hover {
    color: white;
}

.opaq {
    opacity: 1;
    z-index: 98;
}

.r2 {
    font-family: 'Montserrat', sans-serif;
}

.sline {
    width: 70%;
    border: 1px solid black;
    color: black;
    background-color: black;
    height: 5px;
    margin-bottom: 10%;
}

.htmlimg {
    max-width: 50%;
    max-height: 50%;
    background-color: white;
    outline: 7px solid #000000;
    outline-offset: 0px;
    margin-bottom: 10%;
}

.htmlimg2 {
    max-width: 50%;
    max-height: 50%;
    background-color: white;
    outline: 7px solid #000000;
    outline-offset: 0px;
    margin-bottom: 5%;
}

.fade {
    opacity: 1;
}

.meimg {
    float: right;
    max-height: 20%;
    max-width: 20%;
    outline: 7px solid #000000;
    margin-right: 8%;
}

.restitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-left: 6%;
    margin-right: 6%;
}

.resbody {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-left: 6%;
    margin-bottom: 15%;
    margin-right: 6%;
}

.webart {
    float: left;
    max-height: 25%;
    max-width: 25%;
    background-color: white;
    outline: 7px solid #000000;
    outline-offset: 8px;
    margin-left: 5%;
}

.pbody {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.grrow {
    background-color: lightsteelblue;
    padding-top: 10%;
    padding-bottom: 5%;
}


.ywrow  {
    background-color: lightgoldenrodyellow;
    padding-top: 10%;
    padding-bottom: 5%;
}

.proj {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    height: 55px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

@media only screen and (max-width : 700px) {
    .bio-header {margin-right: 15%;}
    .bio-body {padding-right: 15%;}
    .title-bar-myles {padding-right: 10%; padding-left: 4%;}
    .box2 {line-height: 1.5em;}
    .box3 {line-height: 1.5em;}
    .meimg {display: none;}
    .bio-header {margin-bottom: 5%;}
    .resbody {margin-bottom: 20%;}
    .title-bar-linkedin {float: right;}
    .title-bar-email {display: none;}
    .button {display: none;}
    .title-bar {padding-bottom: 0%;}
    .pbody {margin-bottom: 15%;}
}


@media only screen and (min-width : 700px) and (max-width : 1100px) {
    .title-bar-myles {padding-right: 38%;}
    .meimg {max-height: 25%; max-width: 25%;}
}
